{% extends "base.html.twig" %}

{% block title %}
	{{film.Title}}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="\css\infoFilm.css">
	<div class="cardFilm">
		<div class="titre">
			<h2>{{film.Title}}</h2>
		</div>

		<span>Description :
			{{film.Synopsis}}</span>
		<span>
			Genre :
			{{film.Genre}}</span>

		<span>Realisateur :
			{{film.Realisateur}}</span>
		<span>
			Durée :
			{{film.temps}}
			minutes
		</span>
	</div>


</div>{% endblock %}
