{% extends "base.html.twig" %}


{% block title %}Films
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="\css\listeFilm.css">
	<div class="conteneurAll">

		<div class="titre">
			<h1>
				Liste des films disponibles
			</h1>
		</div>

		{% if films | length == 0 %}
			pas de films disponibles

		{% else %}

			<div class="cardFilms">
				{% for film in films %}
					<div class="container">
						<div class="cardFilm">
							<div class="Infofilm">
								<h2>
									<a href="{{path('filmInfo', {'id':film.id})}}" style="color:blue; text-decoration: underline;">{{film.Title}}</a>
								</h2>

								<span>Durée :
									{{film.temps}}
									minutes</span>
								<span>Genre :
									{{film.genre}}</span>
								<span>Prochaine séance :
									{# {{film.Seances.dateDebut|date("d/m/Y")}}}}</span> #}
									{% for seance in film.getSeances() %}

										Le
										{{  seance.getDateDebut()|date("d/m/Y") }}
										à
										{{seance.getDateDebut()|date('H:i')}}

									{% endfor %}


								</div>
								<div class="btns">
									<a href="{{path('updateF', {'id':film.id} )}} " class="btn primary">Editer</a>
									<a href="{{path('deleteF', {'id':film.id} )}} " class="danger btn">Supprimer</a>
								</div>

							</div>


						</div>
					{% endfor %}
				</div>


			{% endif %}


		</div>
	{% endblock %}
