<div class="navbar">
	<nav>
		<a href="{{path('accueil')}}">Accueil</a>
		<a href="{{path('listingFilms')}}">Films</a>
		<a href="{{path('Admin')}}">Panneau Admin</a>
		{# <a href="{{path('createFilms')}}">Ajouter un film</a>
								<a href="{{path('newSeance')}}">Ajouter une séance</a>
								<a href="{{path('sallenewSalle')}}">Ajouter une salle</a> #}
	</nav>
</div>
